<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jobbook">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="SMS_MOB_APPKEY"
            android:value="16b9c665dd7f8" />
        <meta-data
            android:name="SMS_MOB_APPSECRET"
            android:value="ff6619fa904b54a03a9aa892187520d2" />

        <meta-data
            android:name="com.example.jobbook.util.MyGlideModule"
            android:value="GlideModule" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="588392cbf43e481fb7001e56"></meta-data>

        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="2c6c373ef77d00228a0060d60e8110ee"></meta-data>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".main.widget.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>
        <activity
            android:name=".login.widget.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".register.widget.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".job.widget.JobDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".article.widget.ArticleDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".person.widget.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".person.widget.FavouriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moment.widget.MomentDetailActivity"
            android:screenOrientation="portrait" />
        <!--android:windowSoftInputMode="adjustPan" />-->
        <activity
            android:name=".feedback.widget.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moment.widget.NewMomentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".search.widget.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".cv.widget.TextCVActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".update.widget.UpdatePhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".update.widget.UpdatePwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".update.widget.UpdateUsernameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.widget.ForgetPwdFirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.widget.ForgetPwdSecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".person.widget.ShowFanListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".person.widget.ShowFollowerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".person.widget.ShowMomentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userdetail.widget.UserDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.widget.GetMessageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".person.widget.AboutActivity"
            android:screenOrientation="portrait" />

        <service android:name=".service.MyPushIntentService" />


    </application>


</manifest>