<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jobbook">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="SMS_MOB_APPKEY"
            android:value="16b9c665dd7f8"
            />
        <meta-data
            android:name="SMS_MOB_APPSECRET"
            android:value="ff6619fa904b54a03a9aa892187520d2"
            />

        <meta-data
            android:name="com.example.jobbook.util.MyGlideModule"
            android:value="GlideModule" />

        <activity android:name=".main.widget.MainActivity"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>
        <activity
            android:name=".job.widget.JobDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".article.widget.ArticleDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".person.widget.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".person.widget.FavouriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".question.widget.QuestionDetailActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.widget.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feedback.widget.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".job.widget.CompanyDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".question.widget.NewQuestionActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".search.widget.SearchActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".cv.widget.TextCVActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".upload.widget.UploadTakePhotoActivity"/>
        <activity android:name=".upload.widget.UploadPickPhotoActivity"/>
        <activity android:name=".person.widget.UserDetailActivity"/>

    </application>


</manifest>