<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jobbook">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="SMS_MOB_APPKEY"
            android:value="16b9c665dd7f8" />
        <meta-data
            android:name="SMS_MOB_APPSECRET"
            android:value="ff6619fa904b54a03a9aa892187520d2" />

        <meta-data
            android:name="com.example.jobbook.model.img.MyGlideModule"
            android:value="GlideModule" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="588392cbf43e481fb7001e56"></meta-data>

        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="2c6c373ef77d00228a0060d60e8110ee"></meta-data>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".ui.main.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>
        <activity
            android:name=".ui.account.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.account.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.job.activity.JobDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.article.activity.ArticleDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.person.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.person.activity.FavouriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".moment.widget.MomentDetailActivity"
            android:screenOrientation="portrait" />
        <!--android:windowSoftInputMode="adjustPan" />-->
        <!--<activity-->
            <!--android:name=".feedback.widget.FeedBackActivity"-->
            <!--android:screenOrientation="portrait" />-->
        <activity
            android:name=".moment.widget.NewMomentActivity"
            android:screenOrientation="portrait" />
        <!--<activity-->
            <!--android:name=".search.widget.SearchActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="adjustPan" />-->
        <activity
            android:name=".ui.cv.activity.TextCVActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.person.activity.UpdatePhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.person.activity.UpdatePwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.person.activity.UpdateUsernameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.activity.ForgetPwdFirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.activity.ForgetPwdSecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.person.activity.ShowFanListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.person.activity.ShowFollowerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.person.activity.ShowMomentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userdetail.widget.UserDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.message.activity.GetMessageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.person.activity.AboutActivity"
            android:screenOrientation="portrait" />

        <service android:name=".service.MyPushIntentService" />


    </application>


</manifest>